//- Start Header + Navbar
header(class="header")
    nav(class="navbar navbar-expand-lg navbar-light fixed-top")
        div(class="container")
            a(class="navbar-brand" href="index-rtl.html")
                img(src="images/logo/logo-top.png" alt="Logo" title="الصفحة الرئيسية" class="logo-img img-fluid")
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span( class="navbar-toggler-icon")
            div( class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                    li(class="nav-item hvr-bounce-to-bottom")
                        a(class="nav-link" href="index-rtl.html")  الصفحة الرئيسية
                    li(class="nav-item hvr-bounce-to-bottom")
                        a(class="nav-link" href="Portfolio-rtl.html")   | اعمالنا
                    li(class="nav-item hvr-bounce-to-bottom")
                        a(class="nav-link" href="blogs-rtl.html")   | مقالات
                    li(class="nav-item hvr-bounce-to-bottom")
                        a(class="nav-link" href="about-rtl.html")   | معلومات عنا
                    li(class="nav-item dropdown hvr-bounce-to-bottom")
                        a(class="nav-link dropdown-toggle" href="magento-rtl.html" id="company" role="button" data-bs-toggle="dropdown" aria-expanded="false") | الخدمات
                        ul(class="dropdown-menu" aria-labelledby="company")
                            li 
                                a(class="dropdown-item" href="magento-rtl.html") حلول ماجنتو  
                                    i(class="fas fa-smog")
                            li 
                                a(class="dropdown-item" href="open-source-rtl.html")   تطوير المصدر المفتوح   
                                    i(class="fas fa-cube")
                            li 
                                a(class="dropdown-item" href="open-source-php-rtl.html")  تطوير مواقع الويب PHP  
                                    i(class="fab fa-php")
                            li 
                                a(class="dropdown-item" href="how-we-work-rtl.html")   كيف تعمل   
                                    i(class="fab fa-php")
                            li 
                                a(class="dropdown-item" href="show-rtl.html")      التق بفريقنا   
                                    i(class="fas fa-users")
                            li 
                                a(class="dropdown-item" href="mission-vision-rtl.html")       مهنتنا و روئيتنا    
                                    i(class="fas fa-glasses")
                            li 
                                a(class="dropdown-item" href="our-value-rtl.html")  قيمنا      
                                    i(class="fas fa-star-half-alt")


                    li(class="nav-item dropdown hvr-bounce-to-bottom")
                        a(class="nav-link dropdown-toggle" href="shop-rtl.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") | متجر
                        ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                            li 
                                a(class="dropdown-item" href="shop-rtl.html")   متجر   
                                    i(class="fas fa-sign-in-alt")
                            li 
                                a(class="dropdown-item" href="offers-rtl.html")  العروض  
                                    i(class="fas fa-headset")
                        
                    li(class="nav-item dropdown hvr-bounce-to-bottom")
                        a(class="nav-link dropdown-toggle" href="about-rtl.html" id="company" role="button" data-bs-toggle="dropdown" aria-expanded="false") | الشركة
                        ul(class="dropdown-menu" aria-labelledby="company")
                            li 
                                a(class="dropdown-item" href="contact-rtl.html") تواصل معنا  
                                    i(class="fas fa-headset")
                            li 
                                a(class="dropdown-item" href="free-quote-rtl.html")  تسجيل طلبك   
                                    i(class="fas fa-sign-in-alt")
                            li 
                                a(class="dropdown-item" href="contact-rtl.html")  وضائف  
                                    i(class="fas fa-briefcase")
                            li 
                                a(class="dropdown-item" href="how-we-work-rtl.html")   كيف تعمل   
                                    i(class="fas fa-praying-hands")
                            li 
                                a(class="dropdown-item" href="show-rtl.html")      التق بفريقنا   
                                    i(class="fas fa-users")
                            li 
                                a(class="dropdown-item" href="mission-vision-rtl.html")       مهنتنا و روئيتنا    
                                    i(class="fas fa-glasses")
                            li 
                                a(class="dropdown-item" href="our-value-rtl.html")  قيمنا      
                                    i(class="fas fa-star-half-alt")