//- Start slider-page-mission vision
div(class="slider-page-about jq-window-height")
    div(class="container")
        div(class="row justify-content-center")
            div(class="co-sm-8 text-center")
                div(class="inner jq-backmove")
                    div(class="abc")
                div(class="content")
                    div(class="banner-content")
                        p(class="jq-typed-page-about")
                        h1(class="animation animated-item-3") نحن في مصر وقطر والامارات والكويت وكالة الإعلام الرقمى الحائز على جائزة في مصر
                        a(href="#main-page-call" class="hvr animation animated-item-5") دعنا نبدأ الآن

