.parent-overlay {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
  height: 200px;
  position: relative;
  @include prefix(animation, fadeInOut 2s infinite linear, webkit);
  @include prefix(box-shadow, 10px 10px 100px rgb(0, 0, 0), webkit moz o ms);
  .overlay {
    @include overlay;
    //@include transition(0.5s);

    @include hover {
      background-color: rgba($text-color, 0.5);
      @include prefix(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
    }
  }
}
@include KeyFrame(fadeInOut) {
  0% {
    opacity: 0.5;
    background-color: aqua;
  }
  50% {
    opacity: 1;
    background-color: chocolate;
  }
  100% {
    opacity: 0.5;
    background-color: darkgreen;
  }
}
// bootstrap slider
// add parent have class home-page-slider
.css-home-page-slider {
  border: 20px solid #333;

  // All Img
  img {
    background-size: cover;
  }
  #carouselExampleCaptions {
    border: 20px solid rgb(105, 96, 96);
    // ol
    .carousel-indicators {
      border: 3px solid #3498db;
      // li
      li.active {
        background-color: #333;
      }
      li {
        background-color: aquamarine;
      }
    }
    // div carousel-inner
    .carousel-inner {
      // div carousel-item active
      .carousel-item.active {
        // img
        img {
          border: 5px solid #080;
        }
        // div center-position carousel-caption d-none d-md-block
        > div {
          background-color: rgba(14, 197, 253, 0.404);
          padding: 50px;
        }
      }
      // div carousel-item
      .carousel-item {
        // img
        img {
        }
        // div
        > div {
          background-color: rgba(51, 51, 51, 0.801);
          padding: 50px;
          @include positionCenter;
          @include transitionAll(all, 0.5s, linear);
        }
      }
      // a
      .carousel-control-prev,
      .carousel-control-next {
        // span
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
        }
        .sr-only {
        }
      }
    }
  }
}

// services
.services {
  padding-top: $main-padding;
  background: url(../images/home-page/services/section-services.png);
  h6.h5 {
    padding-bottom: 30px;
  }
  p.lead {
    // font-family: $font-Droid;
    line-height: 1.3;
    padding: $main-text-padding;
    font-size: $page-font + 4;
    background-color: $third-color;
    position: relative;
    @include borderRadius(15px);
    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 0;
      width: 0%;
      height: 2%;
      background-color: $main-color;
      border-bottom: 2px solid $third-color;
      @include transitionAll(all, 1s, linear);
    }
    @include hover {
      &::before {
        width: 100%;
      }
    }
  }
  .parent-services-item {
    padding-top: $main-padding;
    padding-bottom: $main-padding - 80;
    .child-services-item {
      background-color: $color-fff;
      height: 130px;
      margin-bottom: $main-margin;
      @include flexCenter;
      @include transitionAll(all, 0.5s, linear);
      @include borderRadius(10px);
      @include boxShadow(-1px, 0px, 10px, #000);
      a {
        i {
          color: $main-color;
          font-size: $font-lg + 10;
        }
        h6 {
          color: $color-333;
          font-weight: bold;
        }
      }
      &:hover {
        background-color: $main-color;
        @include translateY(-10px);
        a {
          i {
            color: $color-fff;
          }
          h6 {
            color: $color-fff;
          }
        }
      }
    }
    .child-services-item.tow {
      @include translateY(-40px);
      &:hover {
        @include translateY(-60px);
      }
    }
    .child-services-item.four {
      @include translateY(-40px);
      &:hover {
        @include translateY(-60px);
      }
    }
    .child-services-item.sex {
      @include translateY(-40px);
      &:hover {
        @include translateY(-60px);
      }
    }
    .child-services-item.eight {
      @include translateY(-40px);
      &:hover {
        @include translateY(-60px);
      }
    }
    .child-services-item.ten {
      @include translateY(-40px);
      &:hover {
        @include translateY(-60px);
      }
    }
    .child-services-item.twelve {
      @include translateY(-40px);
      &:hover {
        @include translateY(-60px);
      }
    }
    .child-services-item.Fourteen {
      @include translateY(-40px);
      &:hover {
        @include translateY(-60px);
      }
    }
  }
}

// about-our-services
.about-our-services {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  background-color: $third-color;
  .word {
    .word-one {
      position: relative;
      z-index: 9;
      margin-bottom: 17px;
      padding: 0 8px 0 3px;
      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 100%;
        height: 5px;
        background-color: $main-color;
        z-index: -9;
      }
    }
    .word-tow {
      position: relative;
      z-index: 9;
      margin-bottom: 17px;
      padding: 0 8px 0 3px;
      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 100%;
        height: 5px;
        background-color: $second-color;
        z-index: -9;
      }
    }
  }
  .disc {
    a {
      background-color: $second-color;
      color: #fff;
      border: 1px solid transparent;
      padding: 10px 30px;
      @include borderRadius(5px);
      @include transitionAll(all, 0.3s, linear);
      i {
        margin-top: 5px;
      }
      @include hover {
        color: $main-color;
        background-color: #fff;
        border: 1px solid $main-color;
      }
    }
  }
  .inner {
    margin-top: $main-margin;
    .parent-img {
      float: right;
      width: 90.5%;
      height: auto;
      margin-right: 9.5%;
      position: relative;
      z-index: 1;
      @include xs-media {
        width: 100%;
        margin-right: 0;
      }
      .img-one {
        background-image: url(../images/home-page/about-our-services/s1.jpg);
        background-size: cover;
        height: 300px;
        float: left;
        width: 100%;
        overflow: hidden;
        position: relative;
        @include xs-media {
          clear: both;
          margin-top: 30px;
        }
      }
      .img-three {
        background-image: url(../images/home-page/about-our-services/s3.jpg);
        background-size: cover;
        height: 300px;
        float: left;
        width: 100%;
        overflow: hidden;
        position: relative;
        @include xs-media {
          clear: both;
          margin-top: 30px;
        }
      }
      .outlne-txt {
        position: absolute;
        top: -90px;
        right: -80px;
        font-family: Oswald, sans-serif;
        font-size: 140px;
        color: #3c3d48;
        font-weight: 700;
        z-index: -1;
        background: #5d057f;
        background: -moz-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0, #5d057f),
          color-stop(100%, #c10446)
        );
        background: -webkit-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: -o-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: -ms-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: linear-gradient(to right, #5d057f 0, #c10446 100%);
        -pie-background: linear-gradient(to right, #5d057f, #c10446);
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-stroke: 3px transparent;
        text-stroke: 3px transparent;
        display: inline-block;
        @include xs-media {
          display: none;
        }
      }
    }
    .parent-img-tow {
      float: right;
      width: 90.5%;
      height: auto;
      margin-left: 9.5%;
      position: relative;
      z-index: 1;
      @include xs-media {
        width: 100%;
        margin-left: 0;
      }
      .img-tow {
        background-image: url(../images/home-page/about-our-services/s2.jpg);
        background-size: cover;
        height: 300px;
        float: right;
        width: 100%;
        overflow: hidden;
        position: relative;
        @include xs-media {
          clear: both;
          margin-bottom: 30px;
        }
      }
      .outlne-txt-tow {
        position: absolute;
        top: -90px;
        left: -57px;
        font-family: Oswald, sans-serif;
        font-size: 140px;
        color: #3c3d48;
        font-weight: 700;
        z-index: -1;
        background: #5d057f;
        background: -moz-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0, #5d057f),
          color-stop(100%, #c10446)
        );
        background: -webkit-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: -o-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: -ms-linear-gradient(left, #5d057f 0, #c10446 100%);
        background: linear-gradient(to right, #5d057f 0, #c10446 100%);
        -pie-background: linear-gradient(to right, #5d057f, #c10446);
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-stroke: 3px transparent;
        text-stroke: 3px transparent;
        display: inline-block;
        @include xs-media {
          display: none;
        }
      }
    }
    .disc-one,
    .disc-tow,
    .disc-three {
      .h1 {
        font-family: Oswald, sans-serif;
        font-size: 40px;
        color: #3c3d48;
        font-weight: 700;
        color: $main-color;
        -webkit-text-fill-color: transparent;
        background: $main-color;
        background: -moz-linear-gradient(
          left,
          $main-color 0,
          $second-color 100%
        );
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0, $main-color),
          color-stop(100%, $second-color)
        );
        background: -webkit-linear-gradient(
          left,
          $main-color 0,
          $second-color 100%
        );
        background: -o-linear-gradient(left, $main-color 0, $second-color 100%);
        background: -ms-linear-gradient(
          left,
          $main-color 0,
          $second-color 100%
        );
        background: linear-gradient(
          to right,
          $main-color 0,
          $second-color 100%
        );
        -pie-background: linear-gradient(to right, $main-color, $second-color);
        -webkit-background-clip: text;
        display: inline-block;
        text-transform: uppercase;
        line-height: 1.28;
        padding-bottom: 33px;
      }
      p.lead {
        margin-bottom: 30px;
      }
      a {
        background-color: $main-color;
        color: #fff;
        border: 1px solid transparent;
        padding: 10px 30px;
        @include borderRadius(5px);
        @include transitionAll(all, 0.3s, linear);

        @include hover {
          color: $main-color;
          background-color: #fff;
          border: 1px solid $main-color;
        }
      }
    }
  }
}

// count
.count {
  background-image: url(../images/home-page/count/count.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  margin: $main-margin 0 0 0;
  padding: $main-padding 0;
  .head {
    padding-top: $main-text-padding;
    h3 {
      font-size: 20px;
      padding-bottom: 10px;
      font-weight: bold;
    }
    h4 {
      font-size: 17px;
    }
    p {
      font-size: $page-font;
      padding: $main-text-padding 0;
      line-height: 1.5;
    }
  }
  .inner {
    > div {
      display: inline-block;
    }
    .jq-countTo-1790,
    .jq-countTo-245,
    .jq-countTo-491,
    .jq-countTo-1090 {
      color: #fff;
      font-size: 30px;
      margin-left: 20px;
      font: {
        size: $font-page + 10;
        weight: bold;
        family: Arial, Helvetica, sans-serif;
      }
    }
    .disc {
      vertical-align: middle;
      font-weight: bold;
      p {
        margin: 0;
        padding: 0;
      }
      .head {
        color: $main-color;
        font: {
          size: $font-page + 10;
          weight: bold;
          family: Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}

// ****************** page about ************************

// slider-page-about
.slider-page-about {
  background-image: url(../images/page-about/back-slider.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  position: relative;
  @include lg-media {
    background-repeat: repeat-x;
  }
  .inner {
    background-image: url(../images/page-about/slider-2.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    position: relative;
    height: calc(70vh);
  }
  .content {
    // height: 300px;
    // p jq-typed-page-about
    .jq-typed-page-about {
      color: #b3b3b3;
      position: relative;
      display: inline-block;
      min-width: 1px;
      min-height: 24px;
      font-size: 32px;
      font-family: Futura-md;
      line-height: 1;
      letter-spacing: -1px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    h1 {
      font-size: $page-font + 8;
      font-weight: bold;
      font-family: Futura;
      color: #b3b3b3;
      line-height: 28px;
    }
    a {
      font-size: 16px;
      padding: 15px 25px;
      display: inline-block;
      text-align: center;
      text-transform: capitalize;
      position: relative;
      color: #fff;
      background: $main-color;
    }
    /* Bounce To Left */
    a.hvr {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
    }
    a.hvr:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #6a6a6a;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    a.hvr:hover,
    a.hvr:focus,
    a.hvr:active {
      color: white;
    }
    a.hvr:hover:before,
    a.hvr:focus:before,
    a.hvr:active:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
}

// section-about

.section-about {
  // margin-top: $main-margin;
  margin-bottom: $main-margin;
  .disc {
    padding-top: $main-padding;
    .head {
      h3.h2 {
        font-family: Oswald, sans-serif;
        font-size: 30px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0, $main-color),
          to(#262524)
        );
        background: linear-gradient(to right, $main-color 0, #262524 100%);
        -pie-background: linear-gradient(to right, $main-color, #262524);
        -webkit-background-clip: text;
        display: inline-block;
        text-transform: uppercase;
        line-height: 1.28;
        padding-bottom: $main-text-padding;
      }
    }
    .body {
      .top {
        margin: 0;
        font-size: $page-font + 5;
        padding-bottom: 5px;
      }
      .median {
        margin: 0;
        font-size: $page-font + 3;
        padding-bottom: 5px;
      }
      .bottom {
        margin: 0;
        font-size: $page-font;
      }
    }
  }
}

// how-we-are
.how-we-are {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  margin-bottom: $main-margin;
  background-color: $third-color;
  .title {
    font-family: Oswald, sans-serif;
    font-size: 40px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, $main-color),
      to($second-color)
    );
    background: linear-gradient(to right, $main-color 0, $second-color 100%);
    -pie-background: linear-gradient(to right, $main-color, $second-color);
    -webkit-background-clip: text;
    display: inline-block;
    line-height: 1.28;
    padding-bottom: 33px;
  }

  .parent-grid {
    justify-content: space-between;
    @include xs-media {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      gap: 0px 0px;
    }

    @include sm-media {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
      gap: 0px 0px;
      justify-content: space-around;
    }

    @include md-media {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
      gap: 0px 10px;
    }

    @include lg-media {
    }
    .inner {
      img {
      }
      h4.h3 {
        font-weight: 400;
        font-size: $font-sm;
      }
      p.lead {
        font-size: $page-font;
      }
    }
  }
}

// our-team

.our-team {
  background-image: url(../images/page-about/our-team/our-team.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  position: relative;
  height: 600px;
  .overlay {
    @include overlay;
    background-color: rgba(18, 18, 18, 0.61);
    // z-index: -1;
  }
  .disc {
    border: 1px solid $color-fff;
    @include positionCenter;
    padding: $main-text-padding;
    @include borderRadiusposition(5px, 30px, 30px, 5px);
    background-color: rgba(18, 18, 18, 0.61);
    @include transitionAll(all, 0.5s, linear);
    @include hover {
      @include borderRadiusposition(30px, 5px, 5px, 30px);
      background-color: rgba(18, 18, 18, 0.81);
    }
    .title {
      font-family: Oswald, sans-serif;
      font-size: 40px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, $color-fff),
        to($main-color)
      );
      background: linear-gradient(to left, $color-fff 0, $main-color 100%);
      -pie-background: linear-gradient(to left, $color-fff, $main-color);
      -webkit-background-clip: text;
      display: inline-block;
      line-height: 1.28;
      padding-bottom: 33px;
    }
    p.lead {
      color: $color-fff;
    }
  }
}

// ************** page portfolio *********
// for mixitup

main.main {
  .mixitup {
    padding: $main-padding 0px;
    background-color: $third-color;
    h3.h2 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 40px;
    }
    .parent-mixitup {
      img {
        width: 100%;
      }
      // controls button
      div.controls {
        text-align: center;
        margin-bottom: 60px;
        // button
        button:focus {
          outline: none;
        }
        button.mixitup-btn-style {
          background: $main-color;
          border: 1px solid $main-color;
          color: $color-fff;
          font-size: $font-page;
          text-transform: uppercase;
          font-weight: bold;
          padding: 10px 20px;
          margin-bottom: 5px;
          cursor: pointer;
          @include transitionAll(all, 0.3s, linear);
        }

        button:hover,
        button.mixitup-control-active {
          background: $color-fff;
          border: 1px solid $main-color;
          color: $main-color;
          @include borderRadius(5px);
          @include boxShadow(-1px, 0px, 5px, $main-color);
        }
      }
      // div parent item
      div.portfolio-item {
        div.single-item {
          margin-bottom: 30px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          //
          div.img-erea {
            img {
              width: 100%;
            }
          }
          div.img-disc {
            @include overlay;
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            @include transitionAll(all, 0.3s, linear);
            cursor: pointer;
            @include scaleY(0);
            transform-origin: center center;
            opacity: 0;
            visibility: hidden;
            color: $color-fff;
            h3.h2 {
              color: $main-color;
              text-transform: uppercase;
              font-weight: bold;
              font-size: $font-page + 4;
              margin: 10px;
            }
            p.lead {
              color: $color-fff;
              font-size: $font-page;
              padding: 0px 25px;
            }
          }
          &:hover .img-disc {
            @include scaleY(1);
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

// **************  page blog **************

main.main {
  .main-blog {
    padding-top: $main-padding;
    padding-bottom: $main-padding;
    .h3-disc,
    .p-disc {
      padding-bottom: $main-text-padding;
    }
    .jq-show-hide-box {
      text-decoration: none;
      width: 100%;
      img {
        width: 100%;
        height: 250px;
      }
      .img-text {
        height: fit-content;
        h3.h2 {
          font-size: $page-font + 5;
          padding: $main-text-padding 0 $main-text-padding - 20;
          text-align: center;
        }
        p.lead {
          font-size: $page-font;
          padding-bottom: $main-text-padding;
        }
      }
    }
    .padding-bottom {
      padding-bottom: $main-padding;
    }
  }
}

// **************  page contact **************

main.main {
  .main-contact-us {
    padding: $main-padding 0;
    .text-back-color {
      font-family: Oswald, sans-serif;
      // font-size: 40px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, $main-color),
        to(#262524)
      );
      background: linear-gradient(to right, $main-color 0, #262524 100%);
      -pie-background: linear-gradient(to right, $main-color, #262524);
      -webkit-background-clip: text;
      display: inline-block;
      text-transform: uppercase;
      line-height: 1.28;
      padding-bottom: 33px;
    }

    .box-form {
      margin-top: 25px;
      form {
        div.input-group {
          margin-bottom: 30px;
          width: 48%;
          display: inline-block;
          input,
          textarea {
            font-size: $page-font;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 90%;
            border: 1px solid $third-color;
            background-color: transparent;
            color: $second-color;
            margin: auto;
            @include borderRadius(5px);
            @include transitionAll(all, 0.5s, linear);
            &:focus {
              outline: none;
              border: 1px solid $main-color;
            }
          }
          label {
            color: #999;
            font-size: $page-font;
            position: absolute;
            pointer-events: none;
            right: 30px;
            top: 10px;
            @include transitionAll(all, 0.3s, linear);
          }
          input:focus ~ label,
          input:valid ~ label {
            top: -20px;
            font-size: $page-font - 3;
            color: $main-color;
          }
          textarea:focus ~ label {
            top: -20px;
            font-size: $page-font - 3;
            color: $main-color;
          }
        }
        .checkbox.input-group {
          input {
            width: 10%;
            display: inline-block;
          }
          span {
            padding: 0 5px;
            width: 90%;
          }
        }
        a {
          text-decoration: none;
          background-color: $main-color;
          color: #fff;
          padding: 10px 35px;
          margin-left: 40px;
          @include borderRadius(5px);
          text-transform: uppercase;
          margin-top: 15px;
          display: inline-block;
          letter-spacing: 3px;
          i {
          }
        }
      }
    }
  }
  .images-world {
    background-image: url(https://hossamrashad.github.io/images-in-github/images/map/6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

// ********* page free quote ************

.main-page-free-quote {
  .main-page {
    padding: $main-padding 0;
  }
  .box-form {
    margin-top: 25px;
    form {
      div.input-group {
        margin-bottom: 30px;
        width: 48%;
        display: inline-block;
        input,
        textarea {
          font-size: $page-font;
          padding: 10px 10px 10px 5px;
          display: block;
          width: 90%;
          border: 1px solid $third-color;
          background-color: transparent;
          color: $second-color;
          margin: auto;
          @include borderRadius(5px);
          @include transitionAll(all, 0.5s, linear);
          &:focus {
            outline: none;
            border: 1px solid $main-color;
          }
        }
        label {
          color: #999;
          font-size: $page-font;
          position: absolute;
          pointer-events: none;
          right: 30px;
          top: 10px;
          @include transitionAll(all, 0.3s, linear);
        }
        input:focus ~ label,
        input:valid ~ label {
          top: -20px;
          font-size: $page-font - 3;
          color: $main-color;
        }
        textarea:focus ~ label {
          top: -20px;
          font-size: $page-font - 3;
          color: $main-color;
        }
      }
      .checkbox.input-group {
        input {
          width: 10%;
          display: inline-block;
        }
        span {
          padding: 0 5px;
          width: 90%;
        }
      }
      a {
        text-decoration: none;
        background-color: $main-color;
        color: #fff;
        padding: 10px 35px;
        margin-left: 40px;
        @include borderRadius(5px);
        text-transform: uppercase;
        margin-top: 15px;
        display: inline-block;
        letter-spacing: 3px;
        i {
        }
      }
    }
  }
  .images-world {
    margin-top: $main-text-padding;
    background-image: url(https://hossamrashad.github.io/images-in-github/images/map/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

// ********* page map  ************

.main-page-map {
  .main-page {
    padding: $main-padding 0;
    // width: fit-content;
    .inner-btn {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      gap: 50px 0px;
      // overflow: hidden;
      position: relative;
      .css-parent-btn-back-color-move {
        position: relative;
        .link {
          position: absolute;
          text-transform: capitalize;
          color: $main-color;
          background-color: transparent;
          border: 2px solid $main-color;
          cursor: pointer;
          transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
          -webkit-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
          -moz-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
          -ms-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
          -o-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
          line-height: 30px;
          padding: 5px 15px;
          display: block;
          width: fit-content;
          height: 40px;
          font-size: $page-font;
          text-align: center;
          text-decoration: none;
          @include borderRadius(5px);
          &:hover {
            color: #fff;
          }
          &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 0;
            background-color: $main-color;
            transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
            -webkit-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
            -moz-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
            -ms-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
            -o-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
          }
          &:hover::before {
            left: 0;
            right: auto;
            width: 100%;
          }
        }
      }
    }
  }

  .images-world {
    margin-top: $main-text-padding;
    background-image: url(https://hossamrashad.github.io/images-in-github/images/map/7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .links-bottom {
    margin-top: $main-margin;
  }
}

// ************ page careers **************
.disc-careers {
  font-size: $page-font;
}

// ********* page how we work **************

.main-page-disc {
  position: relative;
  padding: $main-padding 0;
  &::before {
    content: "";
    background: #b4c2cb;
    width: 1px;
    height: 85%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    @include xs-media {
      content: none;
    }
  }
  // ديرة
  .timeline-img {
    width: 26px;
    height: 26px;
    background: $main-color;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 38px;
    margin-left: -13px;
    @include xs-media {
      left: 5%;
    }
  }
  .wrapper {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.8s ease-in-out 0s, transform 0.8s ease-in-out 0s;
    position: relative;
    width: 45%;
    @include xs-media {
      width: 95%;
    }

    padding: 30px 30px 30px 20px;
    @include borderRadius(5px);
    background: $third-color;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 30%);
    .parent-grid-2 {
      display: inline-flex;
      height: 100px;
      width: 100%;
      .process-icon-container {
        height: 100%;
        width: 20%;
        // rtl
        margin: 0 0 0 $main-text-padding;
      }
      .process-icon-number {
        img {
          height: 100px;
        }
        h2 {
          font-family: MontserratBold;
          font-size: $font-md;
          font-weight: 700;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $main-color;
          position: absolute;
          right: 35%;
          // min-width: 250px;
          top: 20%;
          transform: translateY(-50%);
          text-align: left;
          @include sm-md-media {
            top: 16%;
            right: 35%;
          }
        }
      }
      @include clearfix;
    }
    .disc-work {
      padding-top: $main-text-padding;
    }
    &::after {
      content: "";
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 20px 0 20px 18px;
      border-color: transparent transparent transparent #e7edf1;
      @include rotate(180deg);
    }
  }
  .to-right {
    @include xs-media {
      margin: $main-text-padding 0;
    }
    .wrapper {
      visibility: visible;
      opacity: 1;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transition: opacity 0.8s ease-in-out 0s, transform 0.8s ease-in-out 0s;
      position: relative;
      width: 45%;
      direction: ltr;
      float: left;
      @include clearfix;
      @include xs-media {
        width: 95%;
        // ltr
        direction: rtl;
        float: none;
      }

      padding: 30px 30px 30px 20px;
      @include borderRadius(5px);
      background: $third-color;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 30%);
      .parent-grid-2 {
        display: inline-flex;
        height: 100px;
        width: 100%;
        // ltr
        direction: rtl;
        .process-icon-container {
          height: 100%;
          width: 20%;
          // rtl
          margin: 0 0 0 $main-text-padding;
        }
        .process-icon-number {
          img {
            height: 100px;
          }
          h2 {
            font-family: MontserratBold;
            font-size: $font-md;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $main-color;
            position: absolute;
            right: 35%;
            // min-width: 250px;
            top: 25%;
            transform: translateY(-50%);
            text-align: left;
            @include sm-md-media {
              top: 16%;
              right: 30%;
            }
            @include xs-media {
              top: 17%;
            }
          }
        }
        @include clearfix;
      }
      .disc-work {
        padding-top: $main-text-padding;
        text-align: right;
      }
      &::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: 100%;
        border-width: 20px 0 20px 18px;
        border-color: transparent transparent transparent #e7edf1;
        @include rotate(0deg);
        @include xs-media {
          @include rotate(180deg);
          left: -15px;
        }
      }
    }
  }
}

// ****************** page show our-teams *************
.our-teams {
  padding: $main-padding 0;
  .main-page-disc-team {
    .title {
      p.lead {
        padding-bottom: $main-text-padding;
      }
      .img-area {
        background-image: url(https://hossamrashad.github.io/images-in-github/images/people-animation-gif/share.gif);
        background-position: center center;
        background-repeat: no-repeat;
        height: 50vh;
        background-size: cover;
        background-attachment: fixed;
      }
    }
    .image-anim {
      padding: $main-padding 0;
      .inner {
        cursor: pointer;
        position: relative;
        text-align: center;
        @include transitionAll(all, 0.1s, linear);

        .thum {
          position: absolute;
          z-index: 9;
          width: 100%;
          height: 100%;
          @include transitionAll(all, 0.1s, linear);
          @include hover {
            opacity: 0;
            z-index: 10;
          }
        }
        .anim {
          opacity: 1;
          width: 100%;
          height: 100%;
          z-index: 10;
          @include transitionAll(all, 0.1s, linear);
          @include hover {
            display: inline-block;
            z-index: 9;
          }
        }
      }
      .disc {
        margin: $main-text-padding 0;
      }
    }
  }
}

// ********** page mission vision **********

.our-misson{
  .parent-grid{
    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));   
    gap: 0px 0px;
    @include sm-md-media{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));  
      gap: 20px 0px;
      }
    @include xs-media{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));  
    gap: 20px 0px;
    }
    
    .disc{
      background-color: $text-color;
      height: 400px;
    }
    .disc-middel{
      background-color: $third-color;
      height: 400px;
    }
  }
}
// ************** global ***************

.page-name {
  padding: 30px;
  margin: 50px auto;
  background-color: $second-color;
  .breadcrumb {
    .breadcrumb-item {
      color: $color-fff;
      font-weight: bold;
    }
    .breadcrumb-item a {
      color: $main-color;
    }
  }
}

// call-section
.call-section {
  background-color: $main-color;
  margin-bottom: $main-margin;
  color: #fff;
  padding: 30px 0px;
  min-height: 100px;
  .mid_inner {
    width: 100%;
    position: relative;
    @include clearfix;
    h3 {
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      margin: 0;
      letter-spacing: 1px;
    }
    .img {
      float: $float-right;
      width: 20%;
    }
    .short_detail {
      float: $float-right;
      width: calc(100% - 21%);
      padding-right: 10px;
      p {
        font-weight: bold;
        margin-bottom: 5px;
        @include sm-md-media {
          font-size: $page-font - 2;
          font-weight: normal;
        }
      }
      h3 {
        a {
          color: #fff;
          font-size: $page-font;
          @include xs-media {
            font-size: $page-font - 4;
          }
          @include sm-md-media {
            font-size: $page-font - 7;
          }
        }
        a.mailto {
          @include md-media {
            font-size: 10px;
          }
        }
      }
    }
  }
}

// Our-work-speaks
.Our-work-speaks {
  padding-bottom: $main-padding;
  .title {
    font-family: Oswald, sans-serif;
    font-size: 40px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, $main-color),
      to($second-color)
    );
    background: linear-gradient(to right, $main-color 0, $second-color 100%);
    -pie-background: linear-gradient(to right, $main-color, $second-color);
    -webkit-background-clip: text;
    display: inline-block;
    line-height: 1.28;
    padding-bottom: 33px;
  }
  .parent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    gap: 5px 10px;
    @include xs-media {
      grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
      gap: 20px 20px;
    }
    @include sm-md-media {
      gap: 0px 0px;
    }
    .value {
      @include borderRadius(50%);
      border: 2px solid $main-color;
      position: relative;
      @include transitionAll(all, 0.5s, linear);
      &::after {
        content: "";
        @include overlay;
        background-image: linear-gradient(
          to bottom,
          $main-color 3%,
          $second-color 100%
        );
        z-index: -1;
        @include borderRadius(50%);
      }

      .number {
        color: $text-color;
        font-weight: bold;
        font-size: $font-lg;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      i {
        font-size: $font-lg + 10;
        color: $color-fff;
        margin-bottom: 20px;
      }
      p.lead {
        font-weight: bold;
        padding-bottom: 20px;
        color: $text-color;
        @include sm-md-media {
          font-size: $page-font;
        }
      }
      &:hover {
        &::after {
          background-image: linear-gradient(
            to top,
            $main-color 50%,
            $second-color 100%
          );
        }
      }
    }
  }
}

// our-clients
.our-clients {
  background-color: $third-color;
  padding: $main-padding 0;
  .disc {
    padding-bottom: $main-text-padding;
    .h3 {
      font-family: Oswald, sans-serif;
      font-size: 40px;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, $main-color),
        to($second-color)
      );
      background: linear-gradient(to right, $main-color 0, $second-color 100%);
      -pie-background: linear-gradient(to right, $main-color, $second-color);
      -webkit-background-clip: text;
      display: inline-block;
      line-height: 1.28;
      padding-bottom: 33px;
    }
    .h4 {
      font-size: $page-font + 2;
    }
  }
  .owl-carousel.owl-theme {
    margin-top: $main-margin;
    .item {
      .inner {
        padding: 30px 0 5px;
        margin-bottom: 30px;
        background-color: #f5f5f5;
        text-align: center;
        overflow: hidden;
        @include boxShadow(-1px, 0px, 1px, $main-color);
        width: 100%;
        background-color: $color-fff;
        height: 450px;
        @include borderRadius(20px);
        .picture {
          display: inline-block;
          height: 100px;
          width: 100px;
          z-index: 1;
          position: relative;
          border-radius: 20%;
          &::before {
            content: "";
            width: 100%;
            height: 0;
            border-radius: 50%;
            background-color: $second-color;
            position: absolute;
            right: 0;
            left: 0;
            opacity: 0.9;
            transform: scale(3);
            transition: all 0.3s linear 0s;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 50%;
            background-color: #1f1b1b;
          }
          img {
            width: 100%;
            height: auto;
            @include borderRadius(50%);
            @include scale(1, 1);
            @include transitionAll(all, 0.5s, linear);
          }
        }
        p.lead {
          padding: $main-text-padding 10px 10px 10px;
          height: 250px;
        }
        .social {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
          gap: 0px 0px;
          margin-bottom: 20px;
          padding: 5px;
          @include transitionAll(all, 0.5s, linear);
          @include translateY(200%);
          background-color: $third-color;
          padding-top: 10px;
          // ltr
          direction: rtl;
          li {
            a {
              font-size: $page-font + 20;
              @include borderRadius(50%);
              &.fa-facebook {
                color: #1877f2;
                @include transitionAll(all, 0.5s, linear);
                @include hover {
                  @include boxShadow(-1px, 0px, 10px, #1877f2);
                }
              }
              &.fa-youtube {
                color: #ff0000;
                @include transitionAll(all, 0.5s, linear);
                @include hover {
                  @include boxShadow(-1px, 0px, 10px, #ff0000);
                }
              }
              &.fa-instagram {
                color: #e1306c;
                @include transitionAll(all, 0.5s, linear);
                @include hover {
                  @include boxShadow(-1px, 0px, 10px, #e1306c);
                }
              }
              &.fa-twitter {
                color: #1da1f2;
                @include transitionAll(all, 0.5s, linear);
                @include hover {
                  @include boxShadow(-1px, 0px, 10px, #1da1f2);
                }
              }
              &.fa-linkedin {
                color: #caccce;
                @include transitionAll(all, 0.5s, linear);
                @include hover {
                  @include boxShadow(-1px, 0px, 10px, #caccce);
                }
              }
              &.fa-pinterest {
                color: #e60023;
                @include transitionAll(all, 0.5s, linear);
                @include hover {
                  @include boxShadow(-1px, 0px, 10px, #e60023);
                }
              }
            }
          }
        }
        @include hover {
          .picture::before {
            height: 100%;
            margin-top: -100%;
          }
          .picture img {
            box-shadow: 0 0 0 14px $main-color;
            transform: scale(0.7);
          }
          .social {
            @include translateY(0);
          }
        }
      }
    }
    .owl-nav {
      display: none;
    }
  }
}

// whatsapp fixed
// ltr
.whatsapp-chat {
  position: fixed;
  bottom: 0;
  right: 250px;
  background: $main-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 99999;
  transition: 0.3s ease-in;
  height: 43px;
  a {
    color: #fff !important;
    font-size: $page-font;
    padding: 20px 10px;
    text-decoration: none;
    i {
      margin-top: 10px;
    }
  }
}

// btn-show-popup
.btn-show-popup-chat {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 245px;
  padding: 10px;
  font-weight: bold;
  border: none;
  z-index: 9999;
  // border: 1px solid $second-color;
  background-color: $main-color;
  color: $color-fff;
  position: fixed;
  right: 0;
  bottom: 0;
  outline: none;
  @include borderRadius(5px);
  @include transitionAll(all, 0.2s, linear);
  @include hover {
    border: none;
    background-color: $second-color;
    color: $main-color;
    @include borderRadius(2px);
  }
}
// popup chat
.popup-chat {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 450px;
  z-index: 9999;
  background-color: $main-color;
  display: none;
  //
  .inner {
    position: fixed;
    background-color: $color-fff;
    width: 95%;
    overflow: auto;
    height: 400px;
    padding: 15px;
    p.lead {
      font-size: $font-page;
      text-align: center;
    }
    @include positionCenter;
    @include borderRadius(5px);
    .box-form {
      margin-top: 25px;
      form {
        div.input-group {
          margin-bottom: 30px;
          input,
          textarea {
            font-size: $page-font;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 90%;
            border: 1px solid $third-color;
            background-color: transparent;
            color: $second-color;
            margin: auto;
            @include borderRadius(5px);
            @include transitionAll(all, 0.5s, linear);
            &:focus {
              outline: none;
              border: 1px solid $main-color;
            }
          }
          label {
            color: #999;
            font-size: $page-font;
            position: absolute;
            pointer-events: none;
            right: 20px;
            top: 10px;
            @include transitionAll(all, 0.3s, linear);
          }
          input:focus ~ label,
          input:valid ~ label {
            top: -20px;
            font-size: $page-font - 3;
            color: $main-color;
          }
          textarea:focus ~ label {
            top: -20px;
            font-size: $page-font - 3;
            color: $main-color;
          }
        }
        a {
          text-decoration: none;
          background-color: $main-color;
          color: #fff;
          padding: 10px 35px;
          margin-left: 40px;
          @include borderRadius(5px);
          text-transform: uppercase;
          margin-top: 15px;
          display: inline-block;
          letter-spacing: 3px;
          i {
          }
        }
      }
    }
    .close {
      position: fixed;
      bottom: 23px;
      left: 5px;
      padding: 13px 12px;
      background-color: $second-color;
      // border: 1px solid $main-color;
      color: #fff;
      @include borderRadius(5px);
      cursor: pointer;
    }
  }
}

// google
.google-rating {
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 1000;
  a {
    display: flex;
    flex-flow: column;
    width: 100%;
    @include boxShadow(-1px, 0px, 10px, #fff);
    transition: width 0.3s cubic-bezier(0.405, 0.07, 0.575, 0.995);
  }
}

// text back color
.text-back-color {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, $main-color),
    to(#262524)
  );
  background: linear-gradient(to right, $main-color 0, #262524 100%);
  -pie-background: linear-gradient(to right, $main-color, #262524);
  -webkit-background-clip: text;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.28;
  padding-bottom: 33px;
}

// social-four
.social-four {
  // display: inline-flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
  gap: 0px 0px;
  @include sm-md-media {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    gap: 70px 10px;
  }
  @include md-lg-media {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    gap: 70px 10px;
  }
  .social-name {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: $color-fff;
    color: $color-fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    @include borderRadius(25px);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &::before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background-color: $color-fff;
      left: 50%;
      bottom: -6px;
      transform: translateX(-50%) rotate(45deg);
      -webkit-transform: translateX(-50%) rotate(45deg);
      -moz-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
      -o-transform: translateX(-50%) rotate(45deg);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  .icon {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    span {
      display: block;
      height: 60px;
      width: 60px;
      @include borderRadius(50%);
      position: relative;
      z-index: 2;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: $color-fff;
      a {
        line-height: 60px;
        font-size: 25px;
        color: $color-fff;
      }
    }
    .span-facebook {
      background-color: $facebook-color;
    }
    .span-twitter {
      background-color: $twitter-color-1;
    }
    .span-youtube {
      background-color: $youtube-color-1;
    }
    .span-linkedin {
      background-color: $linkedin-color-1;
    }
    .span-instagram {
      background-color: $instagram-color-1;
    }
    .span-pinterest {
      background-color: $pinterest-color;
    }

    @include hover {
      .social-name {
        top: -70px;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .facebook:hover span,
  .facebook:hover .social-name,
  .facebook:hover .social-name::before {
    background: $facebook-color;
  }
  .twitter:hover span,
  .twitter:hover .social-name,
  .twitter:hover .social-name::before {
    background: $twitter-color-1;
  }
  .youtube:hover span,
  .youtube:hover .social-name,
  .youtube:hover .social-name::before {
    background: $youtube-color-1;
  }
  .linkedin:hover span,
  .linkedin:hover .social-name,
  .linkedin:hover .social-name::before {
    background: $linkedin-color-1;
  }
  .instagram:hover span,
  .instagram:hover .social-name,
  .instagram:hover .social-name::before {
    background: $instagram-color-1;
  }
  .pinterest:hover span,
  .pinterest:hover .social-name,
  .pinterest:hover .social-name::before {
    background: $pinterest-color;
  }
}
