// Header
header.header {
  // navbar bootstrap
  nav.navbar {
    // for change color
    @include transitionAll(all, 0.5s, ease);

    // a like logo
    .navbar-brand {
      @include md-media {
        width: 150px;
      }
      @include xs-media {
        width: 150px;
      }
      @include sm-media {
        width: 150px;
      }
      a {
        display: block;
        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    // button dropdown menu for mobail phone
    .navbar-toggler {
      border: 2px solid #fff;
      // span = img
      .navbar-toggler-icon {
      }
    }

    // div = container for ul
    div.collapse.navbar-collapse {
      padding-top: 15px;
      // ul link
      ul.navbar-nav {
        @include xs-media {
          // if you went to li start left in rtl
          // align-items: flex-start;
          // if you went to li start left in rtl
          // align-items: flex-end;
        }
        // li
        li.nav-item {
          // a
          a.nav-link {
            color: #fff;
          }
          // a active
          a.nav-link.active {
          }
        }
        .active-page{
          
        }
        
        // li dropdown
        li.nav-item.dropdown {
          @include md-media {
            @include transitionAll(all, 0.5s, linear);
            &:hover ul.dropdown-menu {
              display: inline-block;
              @include transitionAll(all, 0.5s, linear);
            }
            // a link name
            a.nav-link.dropdown-toggle {
            }
            // div dropdown
            ul.dropdown-menu {
              min-width: 15rem;
              @include transitionAll(all, 0.5s, linear);
              li {
                position: relative;
                padding-bottom: 10px;
                height: 50px;
                display: block;

                // a item
                a.dropdown-item {
                  position: relative;
                  @include transitionAll(all, 0.5s, linear);
                  line-height: 45px;
                  &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    width: 5px;
                    height: 100%;
                    background-color: $main-color;
                    @include transitionAll(all, 0.3s, linear);
                  }
                  i {
                    position: absolute;
                    left: 5px;
                    top: 20px;
                    color: $main-color;
                    @include transitionAll(all, 0.3s, linear);
                  }
                  &:hover {
                    color: #fff;
                    background-color: transparent;
                    &::before {
                      width: 100%;
                      z-index: -1;
                    }
                    i {
                      left: 30px;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
      // btn popup
      .btn-show-popup {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        width: fit-content;
        padding: 5px 10px;
        font-weight: bold;
        z-index: 9999;
        border: 1px solid $color-3498db;
        background-color: $main-color;
        color: $color-fff;
        margin: 0 10px;
        @include borderRadius(5px);
        @include transitionAll(all, 0.2s, linear);
        @include hover {
          border: 1px solid $main-color;
          background-color: $color-fff;
          color: $main-color;
          @include borderRadius(2px);
        }
      }

      li.lang {
        a.nav-link.dropdown-toggle {
          color: $color-fff;
        }
        @include md-media {
          @include transitionAll(all, 0.5s, linear);
          &:hover ul.dropdown-menu {
            display: inline-block;
            @include transitionAll(all, 0.5s, linear);
          }
          // a link name
          a.nav-link.dropdown-toggle {
            color: $color-fff;
          }
          // div dropdown
          ul.dropdown-menu {
            min-width: 7rem;
            @include transitionAll(all, 0.5s, linear);
            li {
              position: relative;
              padding-bottom: 10px;
              height: 50px;
              display: block;

              // a item
              a.dropdown-item {
                position: relative;
                @include transitionAll(all, 0.5s, linear);
                line-height: 45px;
                &::before {
                  content: "";
                  position: absolute;
                  right: 0;
                  width: 5px;
                  height: 100%;
                  background-color: $main-color;
                  @include transitionAll(all, 0.3s, linear);
                }
                img {
                  position: absolute;
                  left: 5px;
                  top: 20px;
                  color: $main-color;
                  @include transitionAll(all, 0.3s, linear);
                }
                &:hover {
                  color: #fff;
                  background-color: transparent;
                  &::before {
                    width: 100%;
                    z-index: -1;
                  }
                  img {
                    left: 10px;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
      // form
      form.d-flex {
        input.form-control.me-2 {
        }
        button.btn.btn-outline-success {
        }
      }
    }
  }
}

// nav new style
/*
<div
        class="collapse navbar-collapse css-menu-hover-1"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span title="hossam">hossam</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span title="rashad">rashad</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span title="ahmed">ahmed</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span title="aboud">aboud</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span title="aboud">aboud</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span title="hegazy">hegazy</span></a>
          </li>
        </ul>
      </div>
*/
.css-menu-hover-1 {
  ul {
    li {
      transform-style: preserve-3d;
      display: inline-block;
      a {
        position: relative;
        display: block;
        color: #fff;
        // font-size: 18px;
        font-family: poppins;
        text-transform: uppercase;
        text-decoration: none;
        // font-weight: bold;
        // background-color: #1abc9c;
        span {
          display: block;
          // padding: 15px 30px;
          width: 100%;
          height: 100%;
          &::before {
            content: attr(title);
            position: absolute;
            top: 0;
            left: 0;
            background-color: tomato;
            color: #fff;
            padding: 10px 0px;
            transform-style: preserve-3d;
            @include transition(0.4s);
            transform: rotateX(90deg) translateY(150px);
            -webkit-transform: rotateX(90deg) translateY(150px);
            -moz-transform: rotateX(90deg) translateY(150px);
            -ms-transform: rotateX(90deg) translateY(150px);
            -o-transform: rotateX(90deg) translateY(150px);
            transform-origin: bottom;
            width: 100%;
            height: 100%;

            @include xs-media {
              width: 18%;
              direction: rtl;
              right: 0;
              text-align: center;
            }
            @include sm-media {
              width: 15%;
              direction: rtl;
              right: 0;
              text-align: center;
            }
            @include md-media {
              width: 100%;
              text-align: center;
            }
          }
          &:hover::before {
            transform: rotateX(0deg) translateY(0px);
            -webkit-transform: rotateX(0deg) translateY(0px);
            -moz-transform: rotateX(0deg) translateY(0px);
            -ms-transform: rotateX(0deg) translateY(0px);
            -o-transform: rotateX(0deg) translateY(0px);
          }
        }
      }
    }
  }
}

// navbar change color
nav.navbar.css-nav-change-color {
  background-color: $second-color !important;
  @include boxShadow(-1px, 0px, 10px, $third-color);

  // a like logo
  .navbar-brand {
    color: #fff;
  }
  // button dropdown menu for mobail phone
  .navbar-toggler {
    // span = img
    .navbar-toggler-icon {
    }
  }

  // div = container for ul
  div.collapse.navbar-collapse {
    // ul link
    ul.navbar-nav {
      @include xs-media {
        // if you went to li start left in rtl
        // align-items: flex-start;
        // if you went to li start left in rtl
        // align-items: flex-end;
      }
      // li
      li.nav-item {
        // a
        a.nav-link {
          color: #fff;
        }
        // a active
        a.nav-link.active {
        }
      }
      // li dropdown
      li.nav-item.dropdown {
        // a link name
        a.nav-link.dropdown-toggle {
        }
        // div dropdown
        ul.dropdown-menu {
          li {
            // a item
            a.dropdown-item {
            }
          }
        }
      }
    }
    // form
    form.d-flex {
      input.form-control.me-2 {
      }
      button.btn.btn-outline-success {
      }
    }
  }
}
