//- Start Footer
footer(class="footer second-back") 
    div(class="container")
        div(class="row justify-content-center")
            //- start col right
            div(class="col-md-3 col-sm-6")
                div(class="box-right")
                    div(class="media-global")
                        p(class="lead") التواصل الاجتماعي
                        ul 
                            li  
                                a(href="https://www.facebook.com/XpassionAgency" target="_blank") فيسبوك
                            li  
                                a(href="https://www.youtube.com/channel/UCriZwZ_VTKuFwBSHPDO97cA?view_as=subscriber" target="_blank") يوتيوب
                            li  
                                a(href="https://twitter.com/XpassionAgencey" target="_blank") تويتر
                            li
                                a(href="https://www.linkedin.com/company/xpassion-agencey/" target="_blank") لينكد إن
                            li  
                                a(href="https://www.instagram.com/agenceyxpassion/" target="_blank") انستقرام
                            li  
                                a(href="https://www.pinterest.com/consualtingmarketingwebdevelop/_saved/" target="_blank") بنترست
                    //- start website
                    div(class="website")
                        p(class="lead main-color pt-3") المواقع الإلكترونية
                        ul 
                            li 
                                a(href="Responsive-web-design -and-development-rtl.html" target="_blank") تصميم وتطوير المواقع متجاوب
                            li 
                                a(href="Blogging-design-and-management-rtl.html" target="_blank") تصميم وإدارة المدونات
                            li 
                                a( href="E-Marketing-rtl.html" target="_blank") التسويق الإلكتروني
                            li 
                                a(href="WordPress-website-design-and-development-rtl.html" target="_blank") تصميم وتطوير مواقع ووردبريس

                    //- End website
                    p(class="lead") خدمات تصميم المواقع في مصر وقطر ودبى والكويت
            //- end col right
            //- start col tow
            div(class="col-md-3 col-sm-6")
                div(class="shopping")
                    div(class="top")
                        p(class="lead") كتابة المحتوى
                        ul 
                            li 
                                a(href="Website-content-writing-rtl.html" target="_blank") كتابة محتوى المواقع الإلكترونية
                            li 
                                a(href="Magazine-Editing-Service-rtl.html" target="_blank") كتابة وتحرير المجلات المتخصصة
                            li 
                                a(href="Search-Engine-Optimization-Writing-Service-rtl.html" target="_blank") خدمة الكتابة لتحسين نتائج محركات البحث
                            li 
                                a(href="Editing-press-releases-rtl.html" target="_blank") كتابة النشرات الصحفية
                            li 
                                a(href="Correction-and-audit-services-rtl.html" target="_blank") خدمات التصحيح والتدقيق

                    div(class="button")
                        p(class="lead") التسويق الإلكتروني
                        ul 
                            li 
                                a(href="Email-Marketing-Services-rtl.html" target="_blank")  خدمات التسويق الإلكتروني
                            li 
                                a(href="Paid-online-ads-rtl.html" target="_blank")  إعلانات إلكترونية مدفوعة
                            li 
                                a(href="Search-Engine-Optimization-rtl.html" target="_blank") تحسين محركات البحث
                            li 
                                a(href="Corporate-Reputation-Management-Services-rtl.html" target="_blank") خدمات إدارة السمعة للشركات
                        p(class="lead") الترجمة الإبداعية 
                        ul 
                            li 
                                a(href="Website-localization-services-rtl.html" target="_blank")  خدمات تعريب المواقع الإلكترونية
            //- End col tow
            //- start col three
            div(class="col-md-3 col-sm-6")
                section(class="parent-dynamic-tabs")
                    p(class="lead") تابعنا
                    div(class="dynamic-tabs")
                        div(class="row")
                            div(class="col-xs-12")
                                div(class="content-list")
                                    //- Start content one
                                    div(class="content-one")
                                        div(class="icon youtube")
                                            div(class="in-hover")
                                                div(class="card")
                                                    div(class="user-img")
                                                        img(src="images/home-page/follow/youtube-page.png" alt="" class="img-fluid")
                                                    div(class="user-info")
                                                        h3(class="h2") اكس باشون
                                                        p(class="lead") قم بزيارة صفحة يوتيوب الخاصة بناء
                                                        a(class="btn-icon" href="https://www.youtube.com/channel/UCriZwZ_VTKuFwBSHPDO97cA?view_as=subscriber" target="-blank") متابعة
                                                            i(class="far fa-paper-plane")
                                    //- End content one
                                    //- Start content tow
                                    div(class="content-tow")
                                        div(class="icon facebook")
                                            div(class="in-hover")
                                                div(class="card")
                                                    div(class="user-img")
                                                        img(src="images/home-page/follow/facebook.png" alt="" class="img-fluid")
                                                    div(class="user-info")
                                                        h3(class="h2") اكس باشون
                                                        p(class="lead") قم بزيارة صفحة الفيسبوك الخاصة بناء
                                                        a(class="btn-icon" href="https://www.facebook.com/XpassionAgency" target="-blank") متابعة
                                                            i(class="far fa-paper-plane")
                                    //- End content tow
                                    //- Start content three
                                    div(class="content-three")
                                        div(class="icon instagram")
                                            div(class="in-hover")
                                                div(class="card")
                                                    div(class="user-img")
                                                        img(src="images/home-page/follow/instagram-page.png" alt="" class="img-fluid")
                                                    div(class="user-info")
                                                        h3(class="h2") اكس باشون
                                                        p(class="lead") قم بزيارة صفحة الانستغرام الخاصة بناء
                                                        a(class="btn-icon" href="https://www.instagram.com/agenceyxpassion/" target="-blank") متابعة
                                                            i(class="far fa-paper-plane")
                                    //- End content three
                                    //- Start content four
                                    div(class="content-four")
                                        div(class="icon linkedin")
                                            div(class="in-hover")
                                                div(class="card")
                                                    div(class="user-img")
                                                        img(src="images/home-page/follow/linkedin.png" alt="" class="img-fluid")
                                                    div(class="user-info")
                                                        h3(class="h2") اكس باشون
                                                        p(class="lead") قم بزيارة صفحة لينكدين الخاصة بناء
                                                        a(class="btn-icon" href="https://www.linkedin.com/company/xpassion-agencey/" target="-blank") متابعة
                                                            i(class="far fa-paper-plane")
                                    //- End content four
                                    //- Start content five
                                    div(class="content-five")
                                        div(class="icon pinterest")
                                            div(class="in-hover")
                                                div(class="card")
                                                    div(class="user-img")
                                                        img(src="images/home-page/follow/pinterest-page.png" alt="" class="img-fluid")
                                                    div(class="user-info")
                                                        h3(class="h2") اكس باشون
                                                        p(class="lead") قم بزيارة صفحة بينتيريست الخاصة بناء
                                                        a(class="btn-icon" href="https://www.pinterest.com/consualtingmarketingwebdevelop/_saved/" target="-blank") متابعة
                                                            i(class="far fa-paper-plane")
                                    //- End content five
                                    //- Start content sex
                                    div(class="content-sex")
                                        div(class="icon twitter")
                                            div(class="in-hover")
                                                div(class="card")
                                                    div(class="user-img")
                                                        img(src="images/home-page/follow/twitter.png" alt="" class="img-fluid")
                                                    div(class="user-info")
                                                        h3(class="h2") اكس باشون
                                                        p(class="lead") قم بزيارة صفحة تويتر الخاصة بناء
                                                        a(class="btn-icon" href="https://twitter.com/XpassionAgencey" target="-blank") متابعة
                                                            i(class="far fa-paper-plane")
                                    //- End content five
                                    //- End Row
                        //- start tabs list
                        ul(class="tabs-list")
                            li(class="active" data-content=".content-one") 
                                span 
                                    i(class="fab fa-youtube fa-2x fa-fw")
                            li(class="" data-content=".content-tow") 
                                span 
                                    i(class="fab fa-facebook fa-2x fa-fw")
                            li(class="" data-content=".content-three") 
                                span 
                                    i(class="fab fa-instagram fa-2x fa-fw")
                            li(class="" data-content=".content-four") 
                                span 
                                    i(class="fab fa-linkedin fa-2x fa-fw")
                            li(class="" data-content=".content-five") 
                                span 
                                    i(class="fab fa-pinterest fa-2x fa-fw")
                            li(class="" data-content=".content-sex") 
                                span 
                                    i(class="fab fa-twitter fa-2x fa-fw")
                        //- End tabs list
            //- End col three
            //- Start col four
            div( class="col-md-3 col-sm-6")
                div( class="links-page")
                    ul(class="links")
                        li 
                            a(href="index-rtl.html" class="active")  الصفحة الرئيسية
                        li 
                            a(href="about-rtl.html" class="") من نحن
                        li 
                            a(href="careers-rtl.html" class="")  وظائف
                        li 
                            a(href="contact-rtl.html" class="")  اتصل بنا
                        li 
                            a(href="Terms-and-Conditions-rtl.html" class="")  الشروط والأحكام
                        li 
                            a(href="map-rtl.html" class="")  خريطة الموقع 
                        li 
                            a(href="blogs-rtl.html" class="")  المدونة
                    div(class="address-follow")
                        div(class="address")
                            p(class="lead active") العنوان :
                            p(class="lead") مصر وقطر ودبى والكويت
                    p(class="lead") نحن موجودون
                    a( href="contact-rtl.html")
                        img(src="images/map/map.png" alt="" class="img-fluid")
                    ul(class="call mt-2 mb-2")
                        li 
                            a(href="tel:0201069658891+" class="call-us") 
                                i(class="fa fa-phone fa-1x fa-fw") 
                                | 0201069658891
                        li 
                            a(href="mailto:info@xpassionagencey.com" class="mailto") 
                                i(class="fa fa-envelope fa-1x fa-fw") 
                                | info@xpassionagencey.com
                        li 
                            a(href="https://wa.me/0201069658891+" target="_blank") 
                                i(class="fab fa-whatsapp fa-1x fa-fw") 
                                | 0201069658891+
            //- End col four
    div(class="copyright")
        p(class="lead d-inline-block")  حقوق الطبع والنشر © 2021 تصميم المواقع. كل الحقوق محفوظة. صمم بواسطة
        div(class="link")
            a(href="https://xpassionagencey.com/" target="_blank")
                div(class="css-parent-text-shadow-15-5")
                    h4(class="h5") xpassionagencey















